<div class="body">
    
    <mat-card style="text-align: center;">
        <form [formGroup]="loginForm" method="POST" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
          <div *ngIf="previsualizacion">
            <img style="border-radius: 50%; width:100px; height:100px; background-size: contain;" [src]="previsualizacion">
    
          </div>
          <div  *ngIf="!previsualizacion">
            <img  width="100" [src]=imgLogin/>
          </div>
         
            <h2>Registrar</h2>
            <mat-form-field class="fullWidth" appearance="outline">
                <mat-label>Ingresa tu nombre</mat-label>
                <input  formControlName="nombre"  matInput placeholder="pat@example.com"  required>
                <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
              </mat-form-field>
            <mat-form-field class="fullWidth" appearance="outline">
            <mat-label>Ingresa tu email</mat-label>
            <input  formControlName="correo"  matInput placeholder="pat@example.com"  required>
            <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
          </mat-form-field>
          <mat-form-field class="fullWidth" appearance="outline">
            <mat-label>Confirmar email</mat-label>
            <input  formControlName="correoConfirm"  matInput placeholder="pat@example.com"  required>
            <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
          </mat-form-field>
          <br>
          <mat-form-field class="fullWidth" appearance="outline">
            <mat-label>ingresa tu password</mat-label>
            <input  autocomplete="off" matInput formControlName="password"  [type]="hide ? 'password' : 'text'" required>
            <button mat-icon-button matSuffix (click)="hide = !hide"   [attr.aria-label]="'Hide password'"  [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="fullWidth" appearance="outline">
            <mat-label>Confirmar tu password</mat-label>
            <input  autocomplete="off" matInput formControlName="passwordConfirm"  [type]="hide ? 'password' : 'text'" required>
            <button mat-icon-button matSuffix (click)="hide = !hide"   [attr.aria-label]="'Hide password'"  [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>

       
            <mat-label>Avatar</mat-label>
            <input (change)="capturarFile($event)"  type="file"  autocomplete="off"  formControlName="img" >
           
          <br>
          <button mat-flat-button color="primary" [disabled]="!loginForm.valid">Ingresar</button>
        </form>
    </mat-card>
</div>